{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block contenido %}

    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Login
        <small></small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Login</li>
      </ol>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>

    </div>

    <br><br>

{% endblock contenido %}