<!-- index.html -->

{% extends 'base.html' %}

{% load staticfiles %}


{% block header %}
    <header style="background-color: #1b1e21">
        <div class="container">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <br><br>
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->

                    <div class="carousel-item active"
                         style="background-image: url('{% static info.fotos_carrusel.0 %}')">
                        <div class="carousel-caption d-xl-block " style="color:black;">
                            <h2>{{ info.hi_carrusel_1_titulo }}</h2>
                            <h3>{{ info.hi_carrusel_1_descripcion }}</h3>
                        </div>
                    </div>
                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item " style="background-image: url('{% static info.fotos_carrusel.1 %}')">
                        <div class="carousel-caption d-xl-block" style="color:black;">
                            <h2>{{ info.hi_carrusel_2_titulo }}</h2>
                            <h3>{{ info.hi_carrusel_2_descripcion }}</h3>
                        </div>
                    </div>
                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item " style="background-image: url('{% static info.fotos_carrusel.2 %}')">
                        <div class="carousel-caption d-xl-block" style="color:black;">
                            <h2>{{ info.hi_carrusel_3_titulo }}</h2>
                            <h3>{{ info.hi_carrusel_3_descripcion }}</h3>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próxima</span>
        </a>


    </header>
{% endblock header %}

{% block contenido %}

{% endblock contenido %}
